.two-row-products-container {
  padding: 2rem 0.5rem;
}

/* .two-row-products-wrapper:is(:last-child) {
  display: none !important;
} */

.two-row-products-container a {
  text-decoration: none;
}

.two-row-products-wrapper {
  margin-bottom: 5rem;
}

.two-row-product-title {
  text-align: left;
}

.two-row-product-title p {
  font-size: 12px;
  color: #444;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2;
  margin-bottom: 0;
  margin-top: 0.8rem;
}

.two-row-product-title span {
  color: #ff0018;
  font-weight: 600;
  font-size: 14px;
  display: block;
  margin-bottom: 0.5rem;
}

.two-row-product-title .buy-btn {
  width: 100%;
  border: none;
  background-color: var(--secondary);
  /* opacity: 0.8; */
  color: var(--primary);
}

.two-row-product-title .buy-btn:hover {
  opacity: 0.8;
  background-color: var(--primary);
  color: var(--secondary);
  font-weight: 800;
  border: 1px solid var(--primary);
}

.two-row-product-title .buy-btn:focus {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  box-shadow: none;
}

.two-row-product-image img {
  height: 150px;
}

.two-row-product-image img:hover {
  transform: scale(1.1);
}

@media (min-width: 900px) {
  .two-row-products-container {
    padding: 2rem;
  }
  /* .two-row-products-wrapper:is(:last-child) {
    display: block !important;
  } */

  .two-row-product-image img {
    height: 150px;
  }

  .two-row-product-title p {
    font-size: 18px;
  }
}
